{#
/**
 * @file subtheme_entity.html.twig
 * Default theme implementation to present Subtheme Entity data.
 *
 * This template is used when viewing Subtheme Entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_subtheme_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('subtheme_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
